* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background: #f4f6fa;
}

/* LOGIN */
.auth-modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-image: url(/image/login\ im.jpg);
  background-size: cover; /* makes image cover entire area */
  background-repeat: no-repeat; /* prevents repeating */
  background-position: center; /* centers the image */
}

.auth-box {
  background: transparent;
  width: 90%;
  max-width: 450px;
  height: 450px;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
  animation: shadowPulse 3s ease-in-out infinite;
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 15px rgba(30, 79, 163, 0.35);
  }
  50% {
    /* box-shadow: 0 0 35px rgba(29, 233, 182, 0.6); */
    box-shadow: 0 0 55px rgba(52, 250, 201, 0.6);
  }
  100% {
    box-shadow: 0 0 15px rgba(30, 79, 163, 0.35);
  }
}

/* subtle floating animation */
.auth-box {
  animation: shadowPulse 3s ease-in-out infinite,
    floatBox 4s ease-in-out infinite;
}

@keyframes floatBox {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(1);
  }
}


.auth-box input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #1de9b6;
  border-radius: 6px;
}
.auth-box button {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(270deg, #1de9b6, #00acc1, #1de9b6);
  background-size: 300% 300%;
  animation: btnGlow 2s infinite;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
}
@keyframes btnGlow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.auth-box p {
  margin-top: 20px;
  cursor: pointer;
  color: black;
}
.auth-box h2 {
  margin-bottom: 20px;
}
.switch-text span {
  color: #30e2b5;
  cursor: pointer;
}
.auth-modal .close {
  height: 10px;
  width: 10px;
}

.toggle-eye {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  font-size: 18px;
}

.remember {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 8px 0;
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
}

.remember input {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.auth-links {
  margin-top: 22px;
  font-size: 17px;
}

.auth-links span {
  color: #151e16;
  cursor: pointer;
}
/* BIG CROSS BUTTON */
.close-btn-big {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  border: none;
  background: none;
  cursor: pointer;
}



/* ===============================
   GOOGLE STYLE TOP POPUP
================================ */

.popup-msg {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(-30px);

  min-width: 280px;
  max-width: 520px;
  height: 50px;
  width: calc(100% - 40px);

  padding: 16px 44px 16px 18px;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 500;
  text-align: center;

  color: #fff;
  background: #333;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  z-index: 10000;

  opacity: 0;
  pointer-events: none;

  transition: all 0.35s ease;
}

/* SHOW */
.popup-msg.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

/* TYPES */
.popup-msg.success {
  background: linear-gradient(135deg, #00c853, #2e7d32);
}

.popup-msg.error {
  background: linear-gradient(135deg, #d32f2f, #b71c1c);
}

.popup-msg.warning {
  background: linear-gradient(135deg, #ff9800, #f57c00);
}

/* CLOSE BUTTON */
.popup-msg .close-popup {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  opacity: 0.9;
}

/* MOBILE */
@media (max-width: 480px) {
  .popup-msg {
    font-size: 14px;
    padding: 14px 40px 14px 16px;
  }
}


/* ADMIN */
.admin-panel {
  display: none;
  height: 100vh;
}
.sidebar {
  background: #0d2b5c;
  color: #fff;
  position: fixed;
  padding: 20px;
  height: 100vh;
  transition: transform 0.3s ease;
  z-index: 3000;
  width: 320px;
  transform: translateX(0);
  transition: transform 0.35s ease, width 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 55px;
  /* height:45px; */
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 2px;
  background: none;
  border: none;
  font-size: 33px;
  color: red;
  cursor: pointer;
  z-index: 2001;
  /* pointer-events: auto; */
}
.close-btn:hover {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .close-btn {
    display: block;
  }
}

.menu {
  list-style: none;
  margin-top: 40px;
}
.menu::before {
  content: "Dashboard";
  display: block;
  text-align: center;
  margin-bottom: 15px;

  padding: 6px;
  border: 2px solid white;
  font-size: 20px;
  letter-spacing: 2px;
  color: #000;
  /* width:100%; */
  background-color: white;
}
.menu li {
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.25s ease, color 0.25s ease;
}

.menu li.active,
.menu li:hover {
  transform: scale(1.08);
  background: #1e4fa3;
}

/* Sidebar mobile behaviour */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;

    left: 0;
    top: 0;
    transform: translate(-100%);

    z-index: 1000;
  }
  .sidebar.show {
    transform: translate(0);
  }
  .sidebar.active {
    left: 0;
  }
  .hamburger {
    display: block;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

/* MAIN------- */

.main {
  margin-left: 320px;
  transition: margin-left 0.35s ease;
   width: 100% !important;
  /* width: 100% !important;
  max-width: 100% !important; */
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 8px;
}




/* ===== HAMBURGER ===== */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* ===== MOBILE VIEW ===== */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .main {
    margin-left: 0;
  }

  .hamburger {
    display: block;
  }

  .close-btn {
    display: block;
  }
}
.nav-right {
  margin-left: auto;


}
.menu-btn {
  display: none;
}
.profile {
  cursor: pointer;
  position: relative;
}

.profile img {
  width: 58px;
  height: 58px;
  border: 4px solid transparent;
  animation: borderSpin 2s linear infinite;
  border-radius: 50%;
}
@keyframes borderSpin {
  0% {
    border-color: #1de9b6;
  }
  50% {
    border-color: #4ef290;
  }
  100% {
    border-color: red;
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  cursor: pointer;
  min-width: 140px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
 
  z-index: 2000;
}


.dropdown button {
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  background: #fff;
  padding: 10px 14px;
  transition: background 0.2s;
}
.dropdown button:hover {
  background: #f0f0f0;
}
/* animation */
@keyframes fadedown {
  from {
    opacity: 0;
    transform: translate(-5px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.profile .active .dropdown {
  display: block;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 20px 0;
}
/* .stats:hover{
 translate: scale(1.5);
} */

.stats div {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  font-size: 22px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  /* display: grid;
  grid-template-columns: repeat(2, minmax(0, 420px));
  justify-content: center;
  gap: 20px; */
}
.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;

  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}
.card img {
  width: 90%;
  height: 300px;
  /* border-radius: 8px; */
  margin: 10px;
  padding: 5px;
  border: 3px solid rgb(204, 202, 202);
  transition: transform 0.4s ease;
}
.card:hover img {
  transform: scale(1.05);
}
/* .card button {
  margin-top: 10px;
  padding: 10px;
  background: #1e4fa3;
  color: white;
  border: none;
  border-radius: 6px;
} */
.card button {
  background: white;
  color: #1e4fa3;
  padding: 8px;
  font-size: 20px;
  margin-top: 5px;

  border: 2px solid #1e4fa3;
  transition: all 0.3s ease;
}

.card button:hover {
  background: #1e4fa3;
  color: white;
}
.card h3 {
  position: relative;
  padding-bottom: 14px;
}

.card h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 93%;
  height: 3px;
  background: rgb(203, 201, 201);
}
@media (max-width: 768px) {
  .cards {
    max-width: 100%;
  }

  .profile span {
    font-size: 10px;
  }
}

/* sidebar pop up part */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;

  z-index: 3000;
}

.popup-box {
  background: #fff;
  padding: 20px;
  width: 90%;
  font-size: 18px;
  max-width: 350px;
  border-radius: 8px;
}
.popup-box .close {
  cursor: pointer;
  float: right !important;
  font-size: 33px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    left: -260px;
    transition: 0.3s;
  }
  .sidebar.show {
    left: 0;
  }
  .main {
    margin-left: 0;
  }
  .menu-btn {
    display: block;
  }
  .close-btn {
    display: block;
  }
  .stats {
    grid-template-columns: 1fr 1fr;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

/* ===== EXTRA SMALL DEVICES (200px – 320px) ===== */
@media (max-width: 320px) {
  .sidebar {
    width: 100vw; /* fit exactly to screen */
    max-width: 100vw;
  }

  .close-btn {
    right: 10px; /* always visible */
    top: 10px;
    font-size: 28px;
  }

  .main {
    margin-left: 0;
  }
}

/* ===== SIDEBAR CLOSED STATE (ALL SCREENS) ===== */
.sidebar.closed {
  transform: translateX(-100%);
}

/* MAIN EXPAND WHEN SIDEBAR CLOSED */
.sidebar.closed ~ .main {
  margin-left: 0;
}

/* extra code */
/* Make auth box relative */
.auth-box {
  position: relative;
}

/* Password input padding for eye */
#password {
  padding-right: 40px;
}

/* Eye icon inside input (right side of placeholder) */
.toggle-eye {
  position: absolute;
  right: 40px;
  top: 145px; /* aligns with password input */
  cursor: pointer;
  font-size: 30px;
  color: #38dceb;
  user-select: none;
}

/* Mobile responsive */
@media (max-width: 480px) {
  .toggle-eye {
    right: 14px;
    font-size: 16px;
    top: 126px;
  }
} 


/* SIGNUP DESIGN (IMAGE STYLE) */
.signup-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1de9b6;
}

/* clean inputs – no icons */
#signupBox input {
  width: 100%;
  margin: 12px 0;
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #1de9b6;
  font-size: 16px;
}

/* responsive */
@media (max-width: 480px) {
  .signup-title {
    font-size: 22px;
  }
}


/* extra code */
